{% extends 'base.html.twig' %}

{% block title %}Edit Disposal{% endblock %}

{% block body %}
    <h1>Edit Disposal</h1>

    {{ include('disposal/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('disposal_index') }}">back to list</a>

    {{ include('disposal/_delete_form.html.twig') }}
{% endblock %}
